@import url("http://fonts.googleapis.com/css?family=Playfair+Display|Muli");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
html,body{height:100%}
body{font-family:'Muli',"Century Gothic",sans-serif;background:#f4f4f7;color:#444;margin:0;font-size:2.3em}
h1,h2,h3,h4,h5{font-family:'Playfair Display',serif;text-transform:uppercase;color:#808080}
h1{font-size:65px;line-height:1.2em;padding:20px 0;margin-bottom:40px}
h3{font-weight:300;min-height:3.2em}
p{text-align:justify;word-break:keep-all;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
p a,p a:link,p a:visited,p a:hover{color:#6986f8}
strong{font-size:1.1em;font-weight:bold;}
strong strong{font-size:1.2em}
em{color:#6986f8}
li{text-indent:.2em;}
li i{font-size:.7em;margin-right:.5em}
small{font-size:.8em}
.wrapper,[class^="size-"],[class*=" size-"],.page{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#Pages{min-height:100%;height:500%;zoom:1}
#Pages:before,#Pages:after{content:"";display:table}
#Pages:after{clear:both}
.page{float:left;width:100%;margin:0 auto;zoom:1;position:relative;padding:50px 0;background:#0c0c0c;}
.page:before,.page:after{content:"";display:table}
.page:after{clear:both}
.page .title{color:#fff}
.page:nth-child(even) .title{color:#000}
.page:nth-child(2){background:url("http://lorempixel.com/1000/800/nature/1") fixed repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.page:nth-child(4){background:url("http://lorempixel.com/1000/800/nature/2") fixed repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.page:nth-child(6){background:url("http://lorempixel.com/1000/800/nature/3") fixed repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.page:last-child{padding-bottom:100px}
.wrapper,.wrapper-title,.wrapper-menu{width:960px;margin:0 auto;position:relative;zoom:1;overflow:hidden}
.wrapper:before,.wrapper-title:before,.wrapper-menu:before,.wrapper:after,.wrapper-title:after,.wrapper-menu:after{content:"";display:table}
.wrapper:after,.wrapper-title:after,.wrapper-menu:after{clear:both}
.social-link{background:none;}
.social-link:link,.social-link:visited{color:#000}
.social-link:hover,.social-link:active{color:#fcfcfc;background:#000}
.anchor{position:absolute;display:block;width:1px;height:1px;top:0}
.info{padding:20px;position:relative;background:#fcfcfc;}
.info.important{background:transparent;font-size:2.5em;color:#fcfcfc}
.image{text-align:center;position:relative;}
.image img{margin:0 auto}
.overlay{position:absolute;right:0;bottom:0;padding:1em;margin:1em;width:50%;background:#000;background:rgba(0,0,0,0.5);color:#fdfdfd}
.size-1,.size-2,.size-3,.size-half{width:950px;min-height:181px;margin:5px}
.size-half{width:470px}
.height-1{height:181px}
.height-2{height:373px}
.height-3{height:565px}
.height-half{height:277px}
.image-person,.image-person img{width:310px;height:310px;max-width:100%;position:relative}
.image-person{-webkit-border-radius:160px;border-radius:160px;overflow:hidden;color:#fff;margin-bottom:20px;}
.image-person:after{content:"";-webkit-border-radius:160px;border-radius:160px;position:absolute;top:0;left:0;right:0;bottom:0;-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,0.7);box-shadow:inset 0 0 8px rgba(0,0,0,0.7)}
.image-person .image-person-caption{position:absolute;bottom:50px;height:30px;width:100%;left:0;background-color:#000;background-color:rgba(0,0,0,0.4);text-align:center}
.image-person .image-person-caption-name{bottom:45px;padding:10px 0 20px 0;background-color:rgba(0,0,0,0.6)}
.image-person .image-person-caption-title{display:none;font-size:.8em;line-height:1.4em}
img[class^="size-"],img[class*=" size-"]{margin:0 auto}
[class^="size-"],[class*=" size-"]{float:left}
#Home{height:20%;text-align:center}
#Wrapper-Logo{width:100%;height:100%;display:block}
.logo{display:block;margin:0 auto;width:100%;height:100%;background:url("assets/logo-white.svg") no-repeat center center;-webkit-background-size:auto 50%;-moz-background-size:auto 50%;background-size:auto 50%}
.no-svg #Logo{background:url("assets/logo-white.png") no-repeat center center}
.social-icons{position:absolute;bottom:0;right:0}
.social-link{font-size:2em;}
.social-link span{display:none}
.scrollDown{color:#fff;padding:10px;position:absolute;bottom:0;font-size:2em}
.menu-container{position:absolute;position:fixed;top:0;height:50px}
.menu-link{text-align:center;vertical-align:middle;text-decoration:none;text-transform:uppercase;color:#fcfcfc;transition: all 300ms ease-in-out;}
transition: all 300ms ease-in-out;
.menu-link:link,.menu-link:visited{color:#fcfcfc}
.menu-link:hover,.menu-link.active{background-color:#fcfcfc;color:#909090}
.menu-logo-wrapper{height:300px}
#Menu-Revealer,.menu-container{position:absolute;position:fixed;display:block;width:150px;height:100%;right:0;top:0;text-align:center}
#Pages{position:relative}
#Menu-Revealer{font-size:2em;line-height:1.5em;right:0;color:#ccc;height:150px;background:#9c9c9c}
.menu-container{font-size:1.5em}
.menu-container,.wrapper-menu,.menu,.menu-link{display:block}
.wrapper-menu{width:600px;height:100%;float:right;right:-600px;position:absolute;background:#000}
.menu-link{display:block;width:600px;text-align:left;padding:.2em}
#Home-Link{display:none}
#Menu-Revealer:hover #Pages,.menu-open #Pages{right:600px}
#Menu-Revealer:hover #Menu-Revealer,.menu-open #Menu-Revealer{right:600px}
#Menu-Revealer:hover .wrapper-menu,.menu-open .wrapper-menu{right:0}
#Pages, #Menu-Revealer, .wrapper-menu{transition: all 300ms ease-in-out;}
.fluid-wrapper{position:relative;padding-bottom:56.25%;width:100%;height:0;background:#fcfcfc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.fluid-wrapper iframe{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;border:1px solid #000;background:#fcfcfc}
@media screen and (min-width:1200px){body{font-size:1.6em}
.size-2{width:630px}
.size-1{width:310px}
.menu-container{width:100%;height:50px;position:absolute;top:90%;background:#000;}
.menu-container.fixed{position:fixed;top:0}
.menu-logo-wrapper{display:none}
.wrapper-menu{display:table;height:100%;width:auto;float:none;top:auto;right:auto;position:relative;background:none}
.menu{display:table-row;width:100%;height:100%}
.menu-link,#Home-Link{display:table-cell;width:auto}
#Menu{display:table;}
#Menu.open{display:table}
#Menu-Revealer{display:none}
.split{padding:0;}
.split .wrapper{width:50%;float:right}
.split .wrapper-title{width:50%;float:left}
.split .title{float:right;text-align:right}
.split .info,.split .title{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:1em;width:470px}
.split .info{padding-top:50px;padding-bottom:50px}
.image-person .image-person-caption-name{bottom:-10px}
.image-person .image-person-caption-title{display:block}
.menu-container{font-size:1em}
.menu-link{padding:0 .5em;text-align:center;}
.menu-link span{margin-left:.3em}
#Home-Link span{display:none}
}