include _mixins

#Pages

	#Home.page(data-id="Home")
		#Wrapper-Logo(style="width:100%;height:500px")
			.logo
		div(class="wrapper-title", id="Wrapper-Title-interested")
			h1(class="title", name="Interested", id="Title-interested") So, you're intersted?
		.wrapper(id="Wrapper-interested")
				.info
					p(style="text-align:center") we're glad! Please get in touch at the soonest at 
						a(href="mailto:ala@orb-me.com") ala@orb-me.com
