@import "_nib"
@import "_mixins"
@import url("http://fonts.googleapis.com/css?family=Playfair+Display|Muli")
pages = 5
menuSize = 50px
mobileMenuWidth = 600px
gutter = 10px
unitWidth3 = 960px
unitWidth1 = (unitWidth3/3)
unitWidth2 = (unitWidth1*2)
unitWidthHalf = (unitWidth3/2)
unitHeight1 = (unitWidth1 * 0.6)
unitHeight2 = (unitWidth2 * 0.6)
unitHeight3 = (unitWidth3 * 0.6)
unitHeightHalf = (unitWidthHalf * 0.6)
emphasisColor = #000
linkColor = #6986F8
lightColor = #fcfcfc
darkColor = #222
textColor = #444
textTitleColor = #808080

global-reset()

background-cover(url="")
	background url("assets/bgs/"+url+".png") fixed repeat
	//background url("http://lorempixel.com/1000/800/"+url) fixed repeat
	//background-size cover

html, body 
	height 100%

body
	font-family 'Muli', "Century Gothic", sans-serif;
	background lightColor
	color textColor
	margin 0
	font-size 2.3em

h1, h2, h3, h4, h5
	font-family 'Playfair Display', serif
	text-transform 	uppercase
	color textTitleColor

h1
	font-size 65px
	line-height 1.2em
	padding 20px 0
	margin-bottom 40px

h3
	font-weight 300
	min-height 3.2em

p
	text-align justify
	word-break keep-all
	hyphens auto
	margin-bottom 1em
	line-height 1.5em
	a, a:link, a:visited, a:hover
		color linkColor
hr
	width 80%
	color textTitleColor

strong
	font-size 1.1em
	font-weight bold
	strong
		font-size 1.2em

em
	color emphasisColor

li
	text-indent .2em
	i
		font-size .7em
		margin-right .5em

small
	font-size .8em

.wrapper, [class^="size-"],[class*=" size-"], .page
	box-sizing border-box;

#Pages
	min-height 100%
	height (100% * pages)
	clearfix()

.info
	padding 20px
	position relative
	background lightColor
	box-shadow(0 0 gutter rgba(10,10,10,.1))
	&.important
		background transparent
		font-size 1.5em
		color lightColor
		box-shadow(none)
		padding 0
		p
			line-height 1em

.title
	color lightColor
	text-shadow 0 -1px 0 rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.8)
	.fa
		font-size .8em
		position relative
		top -0.1em
		margin-right .5em

.page
	float left
	width 100%
	margin 0 auto
	clearfix()
	position relative
	padding menuSize 0
	background-cover "dark/skewed_print"
	&:nth-child(even)
		background-cover "light/debut_light"
		.info
			background-transparency(lightColor,.3)
		.title
			color darkColor
			text-shadow:0 -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.4)
	&:nth-child(2)
		//background-cover "nature/1"
	&:nth-child(4)
		//background-cover "stressed_linen"
	&:nth-child(6)
		//background-cover "txture"
	&:last-child
		padding-bottom 100px

.wrapper, .wrapper-title, .wrapper-menu
	width unitWidth3
	margin 0 auto
	position relative
	clearfix()
	overflow hidden

.social-link
	background none
	&:link,&:visited
		color darkColor
	&:hover,&:active
		color lightColor
		background black

.anchor
	position absolute
	display block
	width 1px
	height 1px
	top 0

.image
	text-align center
	position relative
	img
		margin 0 auto

.overlay
	position absolute
	right 0
	bottom 0
	padding 1em
	margin 1em
	width 50%
	background black
	//background rgba(0,0,0,.5)
	color #fdfdfd

.size-1, .size-2, .size-3, .size-half
	width (unitWidth3 - (gutter * 2))
	min-height 181px
	margin gutter

.size-half
	width (unitWidthHalf - (gutter * 2))

.height-1
	height (unitHeight1 - (gutter * 2))

.height-2
	height (unitHeight2 - (gutter * 2))

.height-3
	height (unitHeight3 - (gutter * 2))

.height-half
	height (unitHeightHalf - (gutter * 2))

/*
.image-person, .image-person img
	width (unitWidth1 - (gutter * 2))
	height (unitWidth1 - (gutter * 2))
	max-width 100%
	position relative

.image-person
	border-radius unitWidth1
	overflow hidden
	color lightColor
	margin-bottom 20px
	&:after
		content ""
		border-radius 160px
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		box-shadow inset 0 0 8px rgba(0, 0, 0, .7)
	.image-person-caption
		position absolute
		bottom 50px
		height 30px
		width 100%
		left 0
		background-color darkColor
		background-color rgba(0,0,0,.4)
		text-align center
	.image-person-caption-name
		bottom 45px
		padding 10px 0 20px 0
		background-color rgba(0,0,0,.6)
	.image-person-caption-title
		display none
		font-size .8em
		line-height 1.4em
*/

img[class^="size-"],img[class*=" size-"]
	margin 0 auto

[class^="size-"],[class*=" size-"]
	float left

#Home
	height (100% / pages)
	text-align center

#Wrapper-Logo
	width 100%
	height 100%
	display block

.logo
	display block
	margin 0 auto
	width 100%
	height 100%
	background url("assets/logo-white.svg") no-repeat center center
	background-size auto 50%

.no-svg #Logo
	background url("assets/logo-white.png") no-repeat center center

.social-icons
	position absolute
	bottom 0
	right 0

.social-link
	font-size 2em
	span
		display none

.scrollDown
	color lightColor
	padding 10px
	position absolute
	bottom 1em
	font-size 2em

.menu-container
	position absolute
	position fixed
	top 0
	height menuSize

.menu-link
	text-align center
	vertical-align middle
	text-decoration none
	text-transform uppercase
	color lightColor
	@css{transition: all 300ms ease-in-out;}
	&:link, &:visited
		color lightColor
	&:hover, &.active
		background-color lightColor
		color textTitleColor

.menu-logo-wrapper
	height 300px

#Menu-Revealer, .menu-container
	position absolute
	position fixed
	display block
	width menuSize * 3
	height 100%
	right 0
	top 0
	text-align center

#Pages
	position relative

#Menu-Revealer
	font-size 2em	
	line-height 1.5em
	right 0
	color textTitleColor
	height menuSize * 3
	background #9c9c9c

.menu-container
	font-size 1.5em

.menu-container, .wrapper-menu, .menu, .menu-link
	display block

.wrapper-menu
	width mobileMenuWidth
	height 100%
	float right
	right - mobileMenuWidth
	position absolute
	background black

.menu-link
	display block
	width mobileMenuWidth
	text-align left
	padding .2em

#Home-Link
	display none

#Menu-Revealer:hover, .menu-open
	#Pages
		right mobileMenuWidth
	#Menu-Revealer
		right mobileMenuWidth
	.wrapper-menu
		right 0

@css{#Pages, #Menu-Revealer, .wrapper-menu{transition: all 300ms ease-in-out;}}


.fluid-wrapper
	position relative
	padding-bottom: 56.25%
	width 100%
	height 0
	background lightColor
	box-sizing border-box
	iframe
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		width 100%
		height 100%
		border 1px solid black
		background lightColor

@media screen and (min-width:1200px)
	@import "_responsive"
