@import "_nib"
@import url("http://fonts.googleapis.com/css?family=Muli")
@import url("http://fonts.googleapis.com/css?family=Playfair+Display|Fjalla+One|Oswald")
pages = 5
menuSize = 50px
mobileMenuWidth = 600px

global-reset()

background-cover(url="")
	background url("http://lorempixel.com/1000/800/"+url) fixed repeat
	background-size cover

html, body 
	height 100%

body
	font-family 'Muli', "Century Gothic", sans-serif;
	background #f4f4f7
	color #444
	margin 0
	font-size 2.3em

h1, h2, h3, h4, h5
	font-family 'Playfair Display', serif

h1
	font-size 65px
	line-height 1.2em
	padding 20px 0
	margin-bottom 40px

h3
	font-weight 300
	min-height 3.2em

p
	text-align justify
	word-break keep-all
	hyphens auto
	a, a:link, a:visited, a:hover
		color #6986F8


strong
	font-size 1.1em
	font-weight bold
	strong
		font-size 1.2em

em
	color #6986F8

li
	text-indent .2em
	i
		font-size .7em
		margin-right .5em

.wrapper, [class^="size-"],[class*=" size-"], .page
	box-sizing border-box;

#Pages
	min-height 100%
	height (100% * pages)
	clearfix()

.page
	float left
	width 100%
	margin 0 auto
	clearfix()
	position relative
	padding menuSize 0
	background #0c0c0c
	.title
		color #fff
	&:nth-child(even)
		.title
			color #000
	&:nth-child(2)
		background-cover "nature/1"
	&:nth-child(4)
		background-cover "nature/2"
	&:nth-child(6)
		background-cover "nature/3"
	&:last-child
		padding-bottom 100px

.wrapper, .wrapper-title, .wrapper-menu
	width 960px
	margin 0 auto
	position relative
	clearfix()
	overflow hidden

.social-link
	background none
	&:link,&:visited
		color #000
	&:hover,&:active
		color #fcfcfc
		background black

.anchor
	position absolute
	display block
	width 1px
	height 1px
	top 0

.info
	padding 20px
	position relative
	background #fcfcfc

.image
	text-align center
	img
		margin 0 auto

.size-1, .size-2, .size-3, .size-half
	width 950px
	min-height 181px
	margin 5px

.size-half
	width 470px

#Wrapper-Medium > div
	float right

.height-1
	height 181px

.height-2
	height 373px

.height-3
	height 565px

.height-half
	height 277px

.image-person, .image-person img
	width 310px
	height 310px
	max-width 100%
	position relative

.image-person
	border-radius 160px
	overflow hidden
	color #fff
	margin-bottom 20px
	&:after
		content ""
		border-radius 160px
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		box-shadow inset 0 0 8px rgba(0, 0, 0, .7)
	.image-person-caption
		position absolute
		bottom 50px
		height 30px
		width 100%
		left 0
		background-color #000
		background-color rgba(0,0,0,.4)
		text-align center
	.image-person-caption-name
		bottom 45px
		padding 10px 0 20px 0
		background-color rgba(0,0,0,.6)
	.image-person-caption-title
		display none
		font-size .8em
		line-height 1.4em

img[class^="size-"],img[class*=" size-"]
	margin 0 auto

[class^="size-"],[class*=" size-"]
	float left

#Home, #Contact
	height (100% / pages)

#Home
	text-align center

#Wrapper-Logo
	width 100%
	height 100%
	display block

.logo
	display block
	margin 0 auto
	width 100%
	height 100%
	background url("assets/logo-white.svg") no-repeat center center
	background-size auto 50%

.no-svg #Logo
	background url("assets/logo-white.png") no-repeat center center

.social-icons
	position absolute
	bottom 0
	right 0

.social-link
	font-size 2em
	span
		display none

.scrollDown
	color #fff
	padding 10px
	position absolute
	bottom 0
	font-size 2em

.menu-container
	position absolute
	position fixed
	top 0
	background #000
	height menuSize

.menu-link
	text-align center
	vertical-align middle
	text-decoration none
	color #fcfcfc
	@css{transition: all 300ms ease-in-out;}
	&:link, &:visited
		color #fcfcfc
	&:hover, &.active
		background-color #fcfcfc
		color #909090

.menu-logo-wrapper
	height 300px

#Menu-Revealer, .menu-container
	position absolute
	position fixed
	display block
	width menuSize * 3
	height 100%
	right 0
	top 0
	text-align center
	background black

#Pages
	position relative

#Menu-Revealer
	font-size 2em	
	line-height 1.5em
	right 0
	color #ccc
	height menuSize * 3
	background #9c9c9c

.menu-container
	font-size 1.5em

.menu-container, .wrapper-menu, .menu, .menu-link
	display block

.wrapper-menu
	width mobileMenuWidth
	height 100%
	float right
	right - mobileMenuWidth
	position absolute
	background black

.menu-link
	display block
	width mobileMenuWidth
	text-align left
	padding .2em

#Home-Link
	display none

#Menu-Revealer:hover, .menu-open
	#Pages
		right mobileMenuWidth
	#Menu-Revealer
		right mobileMenuWidth
	.wrapper-menu
		right 0

@css{#Pages, #Menu-Revealer, .wrapper-menu{transition: all 300ms ease-in-out;}}


@media screen and (min-width:1200px)
	@import "_responsive"